.hbox {
    -fx-background-color: grey;
}

.profiel-foto {
    -fx-background-color: rgb(50, 50, 50);
}

.text-field {
    -fx-background-color: white, gray, gray;
    -fx-background-insets: 0 0 -1 0, 0 0 0 0, 0 0 3 0;
    -fx-prompt-text-fill: black ;
    -fx-text-fill: white;
}

.radio-button {
    -fx-text-fill:black;
}

.radio-button .radio {
    -fx-background-color: steelblue;
    -fx-dot-color:red;
}

.radio-button .dot {
    -fx-mark-highlight-color: lightblue ;
    -fx-mark-color: lightblue ;
}

.date-picker.popup {
    #-fx-background-color: red;
}

.date-picker.error, .button.error {
    -fx-border-color: red;
}

.label {
    -fx-text-fill: white;
}

.label.error {
    -fx-text-fill:red;
}

.text-field.error {
    -fx-background-color: red, white, white;
}




